.App {
  text-align: center;
}



.App-header {
  background-color: lightsalmon;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 
.nav-items{
  display: flex;
  align-items: center;
  align-content: space-between;
}
.nav-items div{
  padding-right:20px;
  color: white;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
